@media (max-width: 991px) {
    .about-img {
        position: relative;
        height: 300px;
    }
    .list .list-item {
        width: 50%;
    }
}

@media(max-width:768px) {
    .image:hover:after {
        opacity: 1;
        width: 92%;
        height: 78%;
        margin-top: 15px;
        margin-left: 14px;
    }
    .home {
        height: 707px;
    }
    #menu {
        margin-top: 10px;
    }
    .nav-bar {
        margin-top: 45px;
    }
    .works {
        margin-top: 300px;
    }
    .list-item {
        display: block;
    }
    .image {
        position: relative;
        width: 350px;
        height: 350px;
    }
    .image img {
        width: 100%;
    }
    .caption-inner {
        top: 40%;
        padding-left: 100px
    }
    .slide-text {
        font-size: 13px;
        margin: 0px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .home:after {
        top: 80px;
        height: 98vh;
    }
    .home-title {
        text-align: left;
        left: 10px;
    }
    .home,
    .works,
    .services,
    .testimony,
    .blog,
    .contact {
        padding: 80px 0;
    }
    .works .list .list-item {
        width: 10%;
    }
    .image {
        width: 300px;
        height: 258px;
    }
    .image:after {
        width: 300px;
        height: 258px;
    }
    .caption-inner {
        top: 40%;
        padding-left: 75px;
    }
    .about-text {
        padding-left: 15px;
        padding-right: 15px;
    }
    .all-title span {
        font-size: 40px;
        top: -10px;
    }
    .all-header {
        margin: 30px auto 60px;
    }
    .carousel-control {
        display: none;
    }
    .image:hover:after {
        opacity: 1;
        width: 87%;
        height: 90%;
        margin-top: 15px;
        margin-left: 14px;
    }
}