body {
    font: 400 12px/1.8 'Poppins', sans-serif;
    color: #5b5963;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    visibility: visible;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #49e2d6;
}

a:hover {
    text-decoration: none;
    color: #999;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: 700 40px/1.2 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 5px 0 5px;
    color: #5b5963;
}


/*home-menu*/

.home:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient( 45deg, #fa1f55 0%, #fd735a 100%);
    opacity: 0.5;
    z-index: 1;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 18px;
}

.navbar-brand {
    color: #5b5963;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px !important;
    line-height: 20px;
    font-weight: 700;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav>li.active a {
    background: rgba(253, 115, 90, 1);
    color: #fff;
    outline: 0 none;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav>li>a,
.navbar-custom .navbar-nav .dropdown-menu>li>a {
    font-size: 11px;
    letter-spacing: 3px;
    color: #5b5963;
}

.navbar-nav>li>a {
    line-height: 20px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
}

.works {
    padding: 120px 0 100px;
    height: 1380px;
}

.line {
    background: #666;
    width: 55px;
    height: 1px;
    margin: 30px auto;
}

.all-header {
    margin: 0 0 50px;
    text-align: center;
}

.all-title {
    position: relative;
    margin-bottom: 50px;
    font-weight: 300;
    color: #5b5963;
}

h2 {
    font-size: 30px;
    margin: 0 0 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.all-title span {
    font-size: 100px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: -40px;
    z-index: 0;
    opacity: 0.05;
    font-weight: 700;
}

#menu {
    list-style-type: none;
    text-align: center;
    margin: 0 0 40px 0;
    padding: 0;
}

#menu li:hover,
#menu li.active {
    background: rgba(253, 115, 90, 1);
    color: #fff;
}

#menu li {
    background: #f5f5f5;
    display: inline-block;
    font: 400 13px/1.2 'Poppins', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 8px 20px;
    margin: 5px;
    cursor: pointer;
}


/* .list {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.item {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
    opacity: 1;
}

.list .item a {
    font-size: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    text-indent: 200%;
    top: 0;
    width: 100%;
    z-index: 1000;
}

figure {
    margin: 0;
    overflow: hidden;
    position: relative;
}

.item img {
    display: block;
    width: 100%;
    height: auto;
} */

figure {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px 0 5px;
    text-align: center;
    /* padding-top: 10px; */
    vertical-align: middle;
}

.image {
    position: relative;
    width: 480px;
    height: 480px;
}

.image img {
    width: 100%;
    vertical-align: top;
}

.image:after {
    content: attr(data-content);
    position: absolute;
    width: 100%;
    height: 86%;
    top: 0;
    left: 0;
    background: linear-gradient( 45deg, rgba(250, 31, 85, 0.8) 0%, rgba(253, 115, 90, 0.8) 100%);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    min-zoom: 10px;
}

.image:hover:after {
    opacity: 1;
}


/*services*/

.services {
    padding: 120px 0 100px;
    background: #f5f5f5;
}


/* .sv-title,
.ab-title {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    font-weight: 300;
    color: #5b5963;
}

.sv-title span {
    font-size: 100px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: -40px;
    z-index: 0;
    opacity: 0.05;
    font-weight: 700;
} */

.content {
    background: white;
    padding: 46px 17px;
    text-align: center;
    max-width: 340px;
    margin: 30px auto;
}

.icon {
    color: rgba(253, 115, 90, 1);
    height: 80px;
    width: 80px;
    position: absolute;
    margin: 0 auto;
    background: white;
    display: block;
    border-radius: 50px;
    left: 0;
    right: 0;
    top: -5px;
    font-size: 30px;
    line-height: 80px;
    box-shadow: -6px 10px 40px rgb(0 0 0 / 6%);
}

.content h3,
.ab-text h3,
.blog-text h3 {
    color: #5b5963;
    text-transform: uppercase;
    font-size: 13px !important;
    letter-spacing: 1px;
    font: 700 40px/1.2 'Poppins', sans-serif;
}

.text {
    padding-top: 30px;
}

.text-content {
    color: #5b5963;
}

.topic,
.ab-title {
    margin: 0 0 15px;
    padding: 0;
}


/*about*/

.about-img {
    position: relative;
    height: 500px;
}

.about .row .about-img {
    background: url(../image/about.jpg) scroll center no-repeat;
    height: 100%;
    background-size: cover;
    position: absolute;
}

.hobby {
    position: relative;
    margin: 0 0 50px;
    visibility: visible;
}

.ab-icon {
    position: absolute;
    width: 55px;
    left: 0;
    top: 0;
    font-size: 32px;
    line-height: 1;
    color: rgba(253, 115, 90, 1);
}

.ab-text {
    padding-left: 50px;
}

.ab-content {
    margin-left: 4px;
}


/*testimony*/

.testimony {
    background-color: #f5f5f5;
    height: 550px;
    margin-top: 110px;
}

.testi,
.cont {
    margin-top: 100px;
}

.T-icon {
    color: rgba(253, 115, 90, 1);
    height: 80px;
    width: 80px;
    margin: 0 auto;
    background: #f7f7f7;
    border-radius: 50%;
    font-size: 32px;
    line-height: 80px;
    box-shadow: -4px 1px 13px rgb(0 0 0 / 10%);
}

.slide-text {
    font-size: 13px;
    /* margin: 112px; */
    margin: 50px 364px 0 364px;
    text-align: center;
}

.item-text span {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    font: 700 10px 'Poppins', sans-serif;
}


/*gg-map*/

iframe {
    margin-top: 100px;
    height: 450px;
    width: 100%;
    border: 0;
}


/*blog*/

.blog-img {
    position: relative;
    box-shadow: -4px 1px 13px rgb(0 0 0 / 10%);
    background: #f5f5f5;
}

.blog-img img {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.blog-img span {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 3px 7px;
    background: #f5f5f5;
    border-radius: 3px;
    color: #429f98;
    text-transform: capitalize;
}

.blog-img span:hover {
    background: rgba(253, 115, 90, 1);
    color: #f5f5f5;
}

.blog-text {
    padding: 25px 20px;
}

.blog-view {
    padding: 10px 50px;
    background: rgba(253, 115, 90, 1);
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 5px;
    font: 400 13px/1.2 'Poppins', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}


/*contact*/

.ct-item {
    height: 1px;
}

button {
    background: rgba(253, 115, 90, 1);
    height: 30px;
    color: #fff;
    border-radius: 3px;
}

.btn {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

.btn:hover {
    color: #fff !important;
    box-shadow: -4px 1px 13px rgb(0 0 0 / 10%);
}


/*footer*/

#footer {
    margin-top: 100px;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.link {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px;
}

.link li {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid;
    display: inline-block;
    line-height: 35px;
    margin: 5px;
}

.link li a i {
    color: #fff;
}

.link li:hover {
    background: rgb(56, 54, 54);
}

.slider:after {
    z-index: 2;
}


/*ađ*/

.carousel-inner .item img {
    height: 98vh;
    width: 100%;
    object-fit: cover
}